* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: white;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2.5%;
}

.header {
  grid-column: 1/6;
  width: 100%;
  background-color: #03a188;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}
.break {
  flex-basis: 100%;
  height: 0;
}
h1 {
  font-size: 5em;
  margin: auto;
}
h1,
h2,
em {
  color: white;
}

.btn {
  height: 60px;
  width: 160px;

  margin: auto;
  font-size: 1.75rem;
  border-radius: 10px;
  border: none;
  background-color: #0a5449;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #0a5449;
  cursor: pointer;
}

h2,
em {
  font-size: 2.5em;
}
h2 {
  margin: auto;
}

.text {
  grid-column: 1/3;
}

.foto {
  grid-column: 3 / 6;
}
.foto img {
  max-width: 100%;
}

.video {
  grid-column: 2 /5;
}
.video video {
  max-width: 100%;
}

.footer {
  grid-column: 1/6;
}
